<h1>Whiskies#edit</h1>
<div ng-controller="WhiskiesEditCtrl">
  <div>Name</div><div><input type="text" ng-model="data.name"></div>
  <div>Price</div><div><input type="text" ng-model="data.price"></div>
  <button ng-click='Update();' class="btn-primary">Update</button>
</div>